@font-face {
  font-family: "MontserratVariable";
  src: url(./font/Montserrat-VariableFont_wght.ttf) format("truetype");
}
* {
  color: #071f32;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: "MontserratVariable", sans-serif;
  body {
    min-height: 100%;
    display: grid;
    grid-template: 5rem 2fr 20rem/3fr 10fr 3fr;
  }
}

a.slide-1 {
  @extend %pink-white;
}